PL - Disabled Notebook Alert.DataPipeline/pipeline-content.json
{
    "properties": {
        "activities": [
            {
                "type": "TridentNotebook",
                "typeProperties": {
                    "notebookId": "6ccafa73-1280-4cd7-b684-0ee65a4af72c",
                    "workspaceId": "99d86726-bf0e-47a4-ba2c-b882679df8f1"
                },
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureInput": false,
                    "secureOutput": false
                },
                "name": "Check Disabled Notebooks",
                "dependsOn": []
            },
            {
                "type": "IfCondition",
                "typeProperties": {
                    "expression": {
                        "value": "@greater(length(activity('Check Disabled Notebooks').output.result.exitValue), 2)\n",
                        "type": "Expression"
                    },
                    "ifTrueActivities": [
                        {
                            "type": "Office365Outlook",
                            "typeProperties": {
                                "inputs": {
                                    "body": {
                                        "To": "francis.folaranmi@onyxdata.co.uk;nalaka.wanniarachchi@onyxdata.co.uk;dennes.torres@onyxdata.co.uk",
                                        "Subject": "❗DISABLED NOTEBOOK REFRESH",
                                        "Body": "<p>Hello Team,</p>\n<p>Here are the notebooks with disabled schedules:</p>\n<table border=\"1\" cellpadding=\"5\" cellspacing=\"0\">\n    <tr>\n        <th>Workspace Name</th>\n        <th>Notebook Name</th>\n    </tr>\n    @{variables('tablesRow')}\n</table>\n",
                                        "Sensitivity": "",
                                        "Importance": "Normal"
                                    },
                                    "method": "post",
                                    "path": "/v2/Mail"
                                }
                            },
                            "name": "Office 365 Outlook1",
                            "dependsOn": []
                        }
                    ],
                    "ifFalseActivities": []
                },
                "name": "If Condition1",
                "dependsOn": [
                    {
                        "activity": "Construct Table",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ]
            },
            {
                "type": "ForEach",
                "typeProperties": {
                    "items": {
                        "value": "@json(activity('Check Disabled Notebooks').output.result.exitValue)",
                        "type": "Expression"
                    },
                    "activities": [
                        {
                            "type": "AppendVariable",
                            "typeProperties": {
                                "variableName": "tablesRow",
                                "value": {
                                    "value": "@concat('<tr><td>', item().WorkspaceName, '</td><td>', item().NotebookName, '</td></tr>')\n",
                                    "type": "Expression"
                                }
                            },
                            "name": "Append variable1",
                            "dependsOn": []
                        }
                    ]
                },
                "name": "Construct Table",
                "dependsOn": [
                    {
                        "activity": "Check Disabled Notebooks",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ]
            }
        ],
        "variables": {
            "tablesRow": {
                "type": "Array"
            }
        }
    }
}